.user-location {
  align-self: center;

  .location-btn {
    cursor: pointer;
    height: 55px;
    margin-block-start: 10px;
  }
}

@media only screen and (max-width: 510px) {
  .location-btn {
    width: 100px;
    height: 55px !important;
    margin-inline-start: 5px !important;
    font-size: 10px !important;
  }
}
