.weather-preview {
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  .card-typography {
    margin-block-end: 6px;
  }
  .card-typography-title {
    margin-block-end: 12px;
  }
}

@media only screen and (max-width: 510px) {
  .weather-preview {
    height: 200px;
  }
}
