.favorite-preview {
  width: 200px;
  height: 70vh;
  cursor: pointer;
  margin: 10px;
  .card-typography {
    margin-block-end: 6px;
  }
  .card-typography-title {
    margin-block-end: 12px;
  }
}
